*{
font-family: 'Raleway', sans-serif;
}

header {
 width:800px;
 height: 70px;
}

header,
.circle {
 background-color: lightgrey;
}

.main-container {
 display: flex;
 flex-direction: column;
 overflow: auto;
 width: 800px;
 height: 600px;
 background-color: rgb(95, 95, 95);
 margin-bottom: 30px;
}

.circle {
 width: 70px;
 height: 70px;
 border-radius: 50%;
 display: inline-block;
 font-size: 20px;
 line-height: 70px;
 color: white;
 font-weight: bold;
 text-align: center;
 vertical-align: middle;
}

span {
 font-weight: 600;
}

p {
 background-color: rgb(124, 145, 172);
 padding: .5em;
 font-weight: lighter;
 max-width: 70%;
}

