a {
    font-weight: 600;}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}


.carousel-item img {
    height: 600px;
    object-fit: cover;
}
.btn-outline-success {
    color: forestgreen;
    border-color: forestgreen;

}

.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled):active {
    border-color: forestgreen;
    background-color: forestgreen;
}

.btn-outline-success:focus {
box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}

.was-validated .form-control:invalid {
    padding-right: unset;
    background-image:none;
}

.card-deck {
    padding-top: 20px;
}